*.exec
*.iml
*.ipr
*.iws
.DS_Store
.classpath
.externalNativeBuild
.gradle
.gradletasknamecache
.idea
.m2
.metadata
.project
.settings
Version.java
bin/
build/
captures/
local.properties
logcat.txt
out
target/
twitter.properties
